global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'jmeter'
    static_configs:
      - targets: ['host.docker.internal:9270']
    metrics_path: '/metrics'
    scrape_interval: 5s
