name: Flutter Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app-v2/eden_mind_app

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # You can specify a version if needed, e.g., flutter-version: '3.19.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Generate Mocks (Build Runner)
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Run Tests
        run: flutter test --coverage
